MacchinaXMLSchema/macchina_2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="aggiornamentoConfigOri" type="aggiornamentoConfigOri"/>

  <xs:element name="aggiornamentoOri" type="aggiornamentoOri"/>

  <xs:element name="allarmeOri" type="allarmeOri"/>

  <xs:element name="categoriaOri" type="categoriaOri"/>

  <xs:element name="chimicaOri" type="chimicaOri"/>

  <xs:element name="cicloOri" type="cicloOri"/>

  <xs:element name="cicloProcessoOri" type="cicloProcessoOri"/>

  <xs:element name="coloreBaseOri" type="coloreBaseOri"/>

  <xs:element name="coloreOri" type="coloreOri"/>

  <xs:element name="componenteOri" type="componenteOri"/>

  <xs:element name="componentePesaturaOri" type="componentePesaturaOri"/>

  <xs:element name="componenteProdottoOri" type="componenteProdottoOri"/>

  <xs:element name="dizionarioOri" type="dizionarioOri"/>

  <xs:element name="figuraOri" type="figuraOri"/>

  <xs:element name="figuraTipoOri" type="figuraTipoOri"/>

  <xs:element name="macchinaOri" type="macchinaOri"/>

  <xs:element name="mazzettaColSingMacOri" type="mazzettaColSingMacOri"/>

  <xs:element name="mazzettaColorataOri" type="mazzettaColorataOri"/>

  <xs:element name="mazzettaOri" type="mazzettaOri"/>

  <xs:element name="movimentoSingMacOri" type="movimentoSingMacOri"/>

  <xs:element name="numSacchettoOri" type="numSacchettoOri"/>

  <xs:element name="ordineSingMacOri" type="ordineSingMacOri"/>

  <xs:element name="parametroCompProdOri" type="parametroCompProdOri"/>

  <xs:element name="parametroGlobMacOri" type="parametroGlobMacOri"/>

  <xs:element name="presaOri" type="presaOri"/>

  <xs:element name="processoOri" type="processoOri"/>

  <xs:element name="prodottoOri" type="prodottoOri"/>

  <xs:element name="valoreAllarmeOri" type="valoreAllarmeOri"/>

  <xs:element name="valoreParCompOri" type="valoreParCompOri"/>

  <xs:element name="valoreParOrdineOri" type="valoreParOrdineOri"/>

  <xs:element name="valoreParProdMacOri" type="valoreParProdMacOri"/>

  <xs:element name="valoreParProdOri" type="valoreParProdOri"/>

  <xs:element name="valoreParSacchettoOri" type="valoreParSacchettoOri"/>

  <xs:element name="valoreParSingMacOri" type="valoreParSingMacOri"/>

  <xs:element name="valoreProdottoOri" type="valoreProdottoOri"/>

  <xs:element name="valoreRipristinoOri" type="valoreRipristinoOri"/>

  <xs:complexType name="aggiornamentoConfigOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="descrizione" type="xs:string" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="parametro" type="xs:string" minOccurs="0"/>
      <xs:element name="tipo" type="xs:string" minOccurs="0"/>
      <xs:element name="valore" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="aggiornamentoOri">
    <xs:sequence>
      <xs:element name="daCancellare" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="daInserire" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="dtAggiornamento" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="nomeFile" type="xs:string" minOccurs="0"/>
      <xs:element name="tipo" type="xs:string" minOccurs="0"/>
      <xs:element name="versione" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="allarmeOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="descrizione" type="xs:string" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idAllarme" type="xs:int" minOccurs="0"/>
      <xs:element name="info1" type="xs:string" minOccurs="0"/>
      <xs:element name="info2" type="xs:string" minOccurs="0"/>
      <xs:element name="info3" type="xs:string" minOccurs="0"/>
      <xs:element name="info4" type="xs:string" minOccurs="0"/>
      <xs:element name="info5" type="xs:string" minOccurs="0"/>
      <xs:element name="nome" type="xs:string" minOccurs="0"/>
      <xs:element name="tabellaRiferimento" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="categoriaOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="descriCategoria" type="xs:string" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idCat" type="xs:int" minOccurs="0"/>
      <xs:element name="nomeCategoria" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="chimicaOri">
    <xs:sequence>
      <xs:element name="codChimica" type="xs:string" minOccurs="0"/>
      <xs:element name="codLotto" type="xs:string" minOccurs="0"/>
      <xs:element name="descriFormula" type="xs:string" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="dtBolla" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idChimica" type="xs:int" minOccurs="0"/>
      <xs:element name="numBolla" type="xs:int" minOccurs="0"/>
      <xs:element name="statoCh" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cicloOri">
    <xs:sequence>
      <xs:element name="ariaCondScarico" type="xs:string" minOccurs="0"/>
      <xs:element name="ariaInternoValvola" type="xs:string" minOccurs="0"/>
      <xs:element name="ariaPulisciValvola" type="xs:string" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="dtFineCiclo" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="dtInizioCiclo" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idCat" type="xs:int" minOccurs="0"/>
      <xs:element name="idCiclo" type="xs:int" minOccurs="0"/>
      <xs:element name="idOrdine" type="xs:int" minOccurs="0"/>
      <xs:element name="idProdotto" type="xs:int" minOccurs="0"/>
      <xs:element name="idSerieAdditivo" type="xs:string" minOccurs="0"/>
      <xs:element name="idSerieColore" type="xs:string" minOccurs="0"/>
      <xs:element name="info1" type="xs:string" minOccurs="0"/>
      <xs:element name="info10" type="xs:string" minOccurs="0"/>
      <xs:element name="info2" type="xs:string" minOccurs="0"/>
      <xs:element name="info3" type="xs:string" minOccurs="0"/>
      <xs:element name="info4" type="xs:string" minOccurs="0"/>
      <xs:element name="info5" type="xs:string" minOccurs="0"/>
      <xs:element name="info6" type="xs:string" minOccurs="0"/>
      <xs:element name="info7" type="xs:string" minOccurs="0"/>
      <xs:element name="info8" type="xs:string" minOccurs="0"/>
      <xs:element name="info9" type="xs:string" minOccurs="0"/>
      <xs:element name="numSacchi" type="xs:int" minOccurs="0"/>
      <xs:element name="numSacchiAggiuntivi" type="xs:int" minOccurs="0"/>
      <xs:element name="tempoMix" type="xs:int" minOccurs="0"/>
      <xs:element name="tipoCiclo" type="xs:string" minOccurs="0"/>
      <xs:element name="velocitaMix" type="xs:int" minOccurs="0"/>
      <xs:element name="vibroAttivo" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cicloProcessoOri">
    <xs:sequence>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="dtFineProcesso" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="dtInizioProcesso" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="idCiclo" type="xs:int" minOccurs="0"/>
      <xs:element name="idProcesso" type="xs:int" minOccurs="0"/>
      <xs:element name="info1" type="xs:string" minOccurs="0"/>
      <xs:element name="info10" type="xs:string" minOccurs="0"/>
      <xs:element name="info2" type="xs:string" minOccurs="0"/>
      <xs:element name="info3" type="xs:string" minOccurs="0"/>
      <xs:element name="info4" type="xs:string" minOccurs="0"/>
      <xs:element name="info5" type="xs:string" minOccurs="0"/>
      <xs:element name="info6" type="xs:string" minOccurs="0"/>
      <xs:element name="info7" type="xs:string" minOccurs="0"/>
      <xs:element name="info8" type="xs:string" minOccurs="0"/>
      <xs:element name="info9" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="coloreBaseOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="codColoreBase" type="xs:string" minOccurs="0"/>
      <xs:element name="costoColoreBase" type="xs:double" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idColoreBase" type="xs:int" minOccurs="0"/>
      <xs:element name="nomeColoreBase" type="xs:string" minOccurs="0"/>
      <xs:element name="tollPerc" type="xs:double" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="coloreOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="codColore" type="xs:string" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idColore" type="xs:int" minOccurs="0"/>
      <xs:element name="nomeColore" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="componenteOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="codComponente" type="xs:string" minOccurs="0"/>
      <xs:element name="descriComponente" type="xs:string" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idComp" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="componentePesaturaOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="fluidificazione" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="idComp" type="xs:int" minOccurs="0"/>
      <xs:element name="idProdotto" type="xs:int" minOccurs="0"/>
      <xs:element name="info1" type="xs:string" minOccurs="0"/>
      <xs:element name="info10" type="xs:string" minOccurs="0"/>
      <xs:element name="info2" type="xs:string" minOccurs="0"/>
      <xs:element name="info3" type="xs:string" minOccurs="0"/>
      <xs:element name="info4" type="xs:string" minOccurs="0"/>
      <xs:element name="info5" type="xs:string" minOccurs="0"/>
      <xs:element name="info6" type="xs:string" minOccurs="0"/>
      <xs:element name="info7" type="xs:string" minOccurs="0"/>
      <xs:element name="info8" type="xs:string" minOccurs="0"/>
      <xs:element name="info9" type="xs:string" minOccurs="0"/>
      <xs:element name="metodoPesa" type="xs:string" minOccurs="0"/>
      <xs:element name="note" type="xs:string" minOccurs="0"/>
      <xs:element name="ordineDosaggio" type="xs:int" minOccurs="0"/>
      <xs:element name="quantita" type="xs:int" minOccurs="0"/>
      <xs:element name="stepDosaggio" type="xs:string" minOccurs="0"/>
      <xs:element name="tempoMix" type="xs:string" minOccurs="0"/>
      <xs:element name="tollDifetto" type="xs:int" minOccurs="0"/>
      <xs:element name="tollEccesso" type="xs:int" minOccurs="0"/>
      <xs:element name="valoreResiduoFluidificazione" type="xs:int" minOccurs="0"/>
      <xs:element name="velocitaMix" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="componenteProdottoOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idComp" type="componenteOri" minOccurs="0"/>
      <xs:element name="idCompProd" type="xs:int" minOccurs="0"/>
      <xs:element name="idProdotto" type="prodottoOri" minOccurs="0"/>
      <xs:element name="quantita" type="xs:double" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="prodottoOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="codProdotto" type="xs:string" minOccurs="0"/>
      <xs:element name="colorato" type="xs:string" minOccurs="0"/>
      <xs:element name="descriFamiglia" type="xs:string" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="fascia" type="xs:string" minOccurs="0"/>
      <xs:element name="fattoreDiv" type="xs:string" minOccurs="0"/>
      <xs:element name="idCat" type="categoriaOri" minOccurs="0"/>
      <xs:element name="idCodice" type="xs:int" minOccurs="0"/>
      <xs:element name="idMazzetta" type="mazzettaOri" minOccurs="0"/>
      <xs:element name="idProdotto" type="xs:int" minOccurs="0"/>
      <xs:element name="info1" type="xs:string" minOccurs="0"/>
      <xs:element name="info10" type="xs:string" minOccurs="0"/>
      <xs:element name="info2" type="xs:string" minOccurs="0"/>
      <xs:element name="info3" type="xs:string" minOccurs="0"/>
      <xs:element name="info4" type="xs:string" minOccurs="0"/>
      <xs:element name="info5" type="xs:string" minOccurs="0"/>
      <xs:element name="info6" type="xs:string" minOccurs="0"/>
      <xs:element name="info7" type="xs:string" minOccurs="0"/>
      <xs:element name="info8" type="xs:string" minOccurs="0"/>
      <xs:element name="info9" type="xs:string" minOccurs="0"/>
      <xs:element name="limColore" type="xs:string" minOccurs="0"/>
      <xs:element name="nomeProdotto" type="xs:string" minOccurs="0"/>
      <xs:element name="serieAdditivo" type="xs:string" minOccurs="0"/>
      <xs:element name="serieColore" type="xs:string" minOccurs="0"/>
      <xs:element name="tipo" type="xs:string" minOccurs="0"/>
      <xs:element name="tipoFamiglia" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mazzettaOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="codMazzetta" type="xs:string" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idMazzetta" type="xs:int" minOccurs="0"/>
      <xs:element name="nomeMazzetta" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dizionarioOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idDizTipo" type="xs:int"/>
      <xs:element name="idDizionario" type="xs:int" minOccurs="0"/>
      <xs:element name="idLingua" type="xs:int"/>
      <xs:element name="idVocabolo" type="xs:int" minOccurs="0"/>
      <xs:element name="nomeDizionarioTipo" type="xs:string" minOccurs="0"/>
      <xs:element name="nomeLingua" type="xs:string" minOccurs="0"/>
      <xs:element name="vocabolo" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="figuraOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="codice" type="xs:string" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idFigura" type="xs:int" minOccurs="0"/>
      <xs:element name="idFiguraTipo" type="figuraTipoOri" minOccurs="0"/>
      <xs:element name="nominativo" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="figuraTipoOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="figura" type="xs:string" minOccurs="0"/>
      <xs:element name="idFiguraTipo" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="macchinaOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="codStab" type="xs:string" minOccurs="0"/>
      <xs:element name="descriStab" type="xs:string" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="ftpPassword" type="xs:string" minOccurs="0"/>
      <xs:element name="ftpUser" type="xs:string" minOccurs="0"/>
      <xs:element name="idMacchina" type="xs:int" minOccurs="0"/>
      <xs:element name="passOrigami" type="xs:string" minOccurs="0"/>
      <xs:element name="passServer" type="xs:string" minOccurs="0"/>
      <xs:element name="ragso1" type="xs:string" minOccurs="0"/>
      <xs:element name="userOrigami" type="xs:string" minOccurs="0"/>
      <xs:element name="userServer" type="xs:string" minOccurs="0"/>
      <xs:element name="zipPassword" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mazzettaColSingMacOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="codColore" type="xs:string" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idColoreBase" type="coloreBaseOri" minOccurs="0"/>
      <xs:element name="idMazSingMac" type="xs:int" minOccurs="0"/>
      <xs:element name="idMazzetta" type="mazzettaOri" minOccurs="0"/>
      <xs:element name="quantita" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mazzettaColorataOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idColore" type="coloreOri" minOccurs="0"/>
      <xs:element name="idColoreBase" type="coloreBaseOri" minOccurs="0"/>
      <xs:element name="idMazCol" type="xs:int" minOccurs="0"/>
      <xs:element name="idMazzetta" type="mazzettaOri" minOccurs="0"/>
      <xs:element name="quantita" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="movimentoSingMacOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="codIngressoComp" type="xs:string" minOccurs="0"/>
      <xs:element name="codOperatore" type="xs:string" minOccurs="0"/>
      <xs:element name="descriMov" type="xs:string" minOccurs="0"/>
      <xs:element name="dtFineProcedura" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="dtInizioProcedura" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="dtMov" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idCiclo" type="xs:int" minOccurs="0"/>
      <xs:element name="idMateriale" type="xs:int" minOccurs="0"/>
      <xs:element name="idMovInephos" type="xs:int" minOccurs="0"/>
      <xs:element name="idMovOri" type="xs:int" minOccurs="0"/>
      <xs:element name="info1" type="xs:string" minOccurs="0"/>
      <xs:element name="info10" type="xs:string" minOccurs="0"/>
      <xs:element name="info2" type="xs:string" minOccurs="0"/>
      <xs:element name="info3" type="xs:string" minOccurs="0"/>
      <xs:element name="info4" type="xs:string" minOccurs="0"/>
      <xs:element name="info5" type="xs:string" minOccurs="0"/>
      <xs:element name="info6" type="xs:string" minOccurs="0"/>
      <xs:element name="info7" type="xs:string" minOccurs="0"/>
      <xs:element name="info8" type="xs:string" minOccurs="0"/>
      <xs:element name="info9" type="xs:string" minOccurs="0"/>
      <xs:element name="operazione" type="xs:string" minOccurs="0"/>
      <xs:element name="origineMov" type="xs:string" minOccurs="0"/>
      <xs:element name="pesoTeorico" type="xs:int" minOccurs="0"/>
      <xs:element name="proceduraAdottata" type="xs:string" minOccurs="0"/>
      <xs:element name="quantita" type="xs:int" minOccurs="0"/>
      <xs:element name="silo" type="xs:string" minOccurs="0"/>
      <xs:element name="tipoMateriale" type="xs:string" minOccurs="0"/>
      <xs:element name="tipoMov" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="numSacchettoOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idCat" type="categoriaOri" minOccurs="0"/>
      <xs:element name="idNumSac" type="xs:int" minOccurs="0"/>
      <xs:element name="numSacchetti" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ordineSingMacOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="contatore" type="xs:int" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="dtProduzione" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="dtProgrammata" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idOrdine" type="xs:int" minOccurs="0"/>
      <xs:element name="idOrdineSm" type="xs:int" minOccurs="0"/>
      <xs:element name="idProdotto" type="xs:int" minOccurs="0"/>
      <xs:element name="info1" type="xs:string" minOccurs="0"/>
      <xs:element name="info10" type="xs:string" minOccurs="0"/>
      <xs:element name="info2" type="xs:string" minOccurs="0"/>
      <xs:element name="info3" type="xs:string" minOccurs="0"/>
      <xs:element name="info4" type="xs:string" minOccurs="0"/>
      <xs:element name="info5" type="xs:string" minOccurs="0"/>
      <xs:element name="info6" type="xs:string" minOccurs="0"/>
      <xs:element name="info7" type="xs:string" minOccurs="0"/>
      <xs:element name="info8" type="xs:string" minOccurs="0"/>
      <xs:element name="info9" type="xs:string" minOccurs="0"/>
      <xs:element name="numPezzi" type="xs:int" minOccurs="0"/>
      <xs:element name="ordineProduzione" type="xs:int" minOccurs="0"/>
      <xs:element name="stato" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="parametroCompProdOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="descriVariabile" type="xs:string" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idParComp" type="xs:int" minOccurs="0"/>
      <xs:element name="nomeVariabile" type="xs:string" minOccurs="0"/>
      <xs:element name="valoreBase" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="parametroGlobMacOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="descriVariabile" type="xs:string" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idParGm" type="xs:int" minOccurs="0"/>
      <xs:element name="nomeVariabile" type="xs:string" minOccurs="0"/>
      <xs:element name="valoreVariabile" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="presaOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idPresa" type="xs:int" minOccurs="0"/>
      <xs:element name="presa" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="processoOri">
    <xs:sequence>
      <xs:element name="cliente" type="xs:string" minOccurs="0"/>
      <xs:element name="codChimica" type="xs:string" minOccurs="0"/>
      <xs:element name="codColore" type="xs:string" minOccurs="0"/>
      <xs:element name="codCompIn" type="xs:string" minOccurs="0"/>
      <xs:element name="codCompPeso" type="xs:string" minOccurs="0"/>
      <xs:element name="codOperatore" type="xs:string" minOccurs="0"/>
      <xs:element name="codProdotto" type="xs:string" minOccurs="0"/>
      <xs:element name="codSacco" type="xs:string" minOccurs="0"/>
      <xs:element name="dtProduzione" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idProcesso" type="xs:int" minOccurs="0"/>
      <xs:element name="info1" type="xs:string" minOccurs="0"/>
      <xs:element name="info10" type="xs:string" minOccurs="0"/>
      <xs:element name="info2" type="xs:string" minOccurs="0"/>
      <xs:element name="info3" type="xs:string" minOccurs="0"/>
      <xs:element name="info4" type="xs:string" minOccurs="0"/>
      <xs:element name="info5" type="xs:string" minOccurs="0"/>
      <xs:element name="info6" type="xs:string" minOccurs="0"/>
      <xs:element name="info7" type="xs:string" minOccurs="0"/>
      <xs:element name="info8" type="xs:string" minOccurs="0"/>
      <xs:element name="info9" type="xs:string" minOccurs="0"/>
      <xs:element name="pesoRealeSacco" type="xs:int" minOccurs="0"/>
      <xs:element name="tipoProcesso" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="valoreAllarmeOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="idAllarme" type="xs:int" minOccurs="0"/>
      <xs:element name="idTabellaRif" type="xs:int" minOccurs="0"/>
      <xs:element name="info1" type="xs:string" minOccurs="0"/>
      <xs:element name="info2" type="xs:string" minOccurs="0"/>
      <xs:element name="info3" type="xs:string" minOccurs="0"/>
      <xs:element name="info4" type="xs:string" minOccurs="0"/>
      <xs:element name="info5" type="xs:string" minOccurs="0"/>
      <xs:element name="valore" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="valoreParCompOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="dtModificaMac" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="dtValoreIniziale" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idComp" type="xs:int"/>
      <xs:element name="idParComp" type="xs:int"/>
      <xs:element name="idValComp" type="xs:int" minOccurs="0"/>
      <xs:element name="valoreIniziale" type="xs:string" minOccurs="0"/>
      <xs:element name="valoreVariabile" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="valoreParOrdineOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="idOrdineSm" type="xs:int" minOccurs="0"/>
      <xs:element name="idParOrdine" type="xs:int" minOccurs="0"/>
      <xs:element name="valore" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="valoreParProdMacOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idParPm" type="xs:int"/>
      <xs:element name="idProdotto" type="prodottoOri" minOccurs="0"/>
      <xs:element name="idValPm" type="xs:int" minOccurs="0"/>
      <xs:element name="valoreVariabile" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="valoreParProdOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idCat" type="categoriaOri" minOccurs="0"/>
      <xs:element name="idParProd" type="xs:int"/>
      <xs:element name="idValParPr" type="xs:int" minOccurs="0"/>
      <xs:element name="valoreVariabile" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="valoreParSacchettoOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idCat" type="categoriaOri" minOccurs="0"/>
      <xs:element name="idNumSac" type="numSacchettoOri" minOccurs="0"/>
      <xs:element name="idParSac" type="xs:int"/>
      <xs:element name="idValParSac" type="xs:int" minOccurs="0"/>
      <xs:element name="sacchetto" type="xs:int" minOccurs="0"/>
      <xs:element name="valoreVariabile" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="valoreParSingMacOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="dtModificaMac" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="dtValoreIniziale" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idParSm" type="xs:int"/>
      <xs:element name="idValParSm" type="xs:int" minOccurs="0"/>
      <xs:element name="valoreIniziale" type="xs:string" minOccurs="0"/>
      <xs:element name="valoreVariabile" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="valoreProdottoOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idParProd" type="xs:int"/>
      <xs:element name="idProdotto" type="prodottoOri" minOccurs="0"/>
      <xs:element name="idValPr" type="xs:int" minOccurs="0"/>
      <xs:element name="valoreVariabile" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="valoreRipristinoOri">
    <xs:sequence>
      <xs:element name="abilitato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="dtAbilitato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="dtRegistrato" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="idParRipristino" type="xs:int"/>
      <xs:element name="idProCorso" type="xs:int" minOccurs="0"/>
      <xs:element name="idValoreRipristino" type="xs:int" minOccurs="0"/>
      <xs:element name="valoreVariabile" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

